@import '../css/reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');
@import 'mixin';
@import 'component';
@import 'signup';
@import 'postDetail';
@import 'transition';
@import 'login';
@import 'post';
@import 'id';
@import 'index';




$bgc: #888;
html{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

body.lock{
  overflow: hidden;
  height: 100vh;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 3rem;
  color: rgba(0,68, 131);
  @include mq() {
      font-size: 2rem;
  }

  @include mq(sm) {
font-size: 1.5rem;
  }
}
h3{
  font-size: 3rem;
  color: rgba(0,68, 131);
  @include mq() {
    font-size: 2rem;
}

@include mq(sm) {
font-size: 1.5rem;
}
}
p{
  font-size: 1rem;
  color: #333;
  @include mq() {
    font-size: 0.9rem;
}

@include mq(sm) {
font-size: 0.8rem;
}
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
  font-weight: bold;
  &:hover {
    opacity: 0.7;

  }
}

.l-header {
  position: fixed;
    z-index: 100;
  height: 80px;
  margin: auto;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba(0,68, 131, 0.7);
    width: 100%;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
  color: #fff;
  &__inner{
    margin: auto;
    padding: 20px;
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    &__left{

    }
    &__right{

    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__item{
      text-align: center;
      position: relative;
      list-style-type: none;
      margin-left: 25px;
      
      &:hover{
        opacity: 0.7;

      }
    }
    &__icon{
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 999px;
      margin: 0 auto;
      align-items: center;
      background: #fff;
      border: solid 1px #fff;

    }
  }
}


.l-wrapper{
  padding-top: 150px;
  padding-bottom: 120px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}


.fadein {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
     opacity: 0;

  }
  100% {
     opacity: 1;

  }
}